{% extends 'base.html' %}
{% load static %}
{% block content %}
<p class="text-center mt-3">Are you sure want to delete <strong>{{item}}</strong> ? </p>

<form method="POST" class="col-lg-6 offset-lg-3 ">
    <div class="container">
    {% csrf_token %}
    <div class="row justify-content-center mt-3">
    <button><a href="{% url 'single_slug' single_slug %}" class="btn btn-primary btn-sm">cancel</a></button>
    <button class="btn btn-danger btn-sm" name="button">Delete</button>
    </div>
</div>
</form>

{% endblock %}