{% extends 'layout.html' %}

{% block content %}
<br>
 <div class="text-right">
  {% if user.is_authenticated %}
 <a class="btn-floating btn-large waves-effect waves-light blue" href="{% url 'create_step' single_slug %}"><i class="material-icons">add</i></a>
  {% endif %}
 </div>
<p>{{pk}}</p>
<div class="row">
 <table id="test" class="responsive-table">
 <thead>
    <tr>
      <th scope="col">Test_Step_Id</th>
      <th scope="col">Test_Step_Description</th>
      <th scope="col">Keyword</th>
      <th scope="col">Status</th>
        {% if user.is_authenticated %}
      <th scope="col">Action</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for test in matching_teststep %}
    <tr>
      <td>{{ test.Test_Step_Id }}</td>
      <td>{{ test.Test_Step_Description }}</td>
      <td>{{ test.Keyword }}</td>
      <td>{{ test.status }}</td>
         {% if user.is_authenticated %}
      <td>
          <a href="{% url 'update_step' single_slug test.pk %}"><i class="material-icons">edit</i></a>
          <a href="{% url 'delete_step' single_slug test.pk %}"><i class="material-icons">delete_forever</i></a>
      </td>
         {% endif %}
    </tr>
  {% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}
